.content {
  top: 60px;
  overflow: hidden;
}

.fixed-sidebar {
  position: fixed;
  height: calc(100vh - 60px);
}

.sidebar-left {
  border-right: 1px solid #ccc;
}

.main-content-not-show-sidebar {
  margin-left: 180px;
  height: 3000px;
  overflow-y: auto;
  border-right: none;
  padding: 16px 10px 16px 16px;
}
